body {
    margin-bottom: 20px;
}

#loginPage, #tryPage {
    max-height: 70% !important;
    max-width: 50% !important;
    margin-top: 200px;
}

/* ----- center columns -----*/

.row {
    text-align:center;
    margin:0 auto;
}

.row .col {
    padding: 0px !important;
    display:inline-block !important;
    vertical-align: middle !important;
    float: none !important;
}

/* ---------------------------------------------------- index ------------------------------------------------------*/


/* ----- fit the authFav -----*/
.card-panel {
    margin: 3px;
    line-height: 0px;
    border-radius: 10px  !important; ;
}

img {
    max-width: 100%;
    height: 10%;
}

/* ----- Card column width, -----*/
.card {
    margin: 10px !important;
    width: 30% !important;
    filter: grayscale(10);
}

.card:hover {
    filter: grayscale(0);
}