
.brand-logo > img{
    width: 30%;
    margin-top: 20px;
    margin-left: 20px;
}
body {
    margin-bottom: 20px;
    font-family: "iranyekan";
}

#loginPage, #tryPage {
    max-height: 70% !important;
    max-width: 50% !important;
    margin-top: 200px;
}

/* ----- center columns -----*/

.row {
    text-align:center;
    margin:0 auto;
}

.row .col {
    padding: 0px !important;
    display:inline-block !important;
    vertical-align: middle !important;
    float: none !important;
}

/* ---------------------------------------------------- Navbar ------------------------------------------------------*/
nav {
    background-color: mediumaquamarine !important;
}

/* ---------------------------------------------------- index ------------------------------------------------------*/


/* ----- fit the authFav -----*/
.card-panel {
    margin: 3px;
    line-height: 0px;
    border-radius: 10px  !important; ;
}

img {
    max-width: 100%;
}

/* ----- Card column width, -----*/
.card {
    margin: 10px !important;
    width: 30% !important;
    filter: grayscale(10);
}

.card:hover {
    filter: grayscale(0);
}

/* ---------------------------------------------------- Panel ------------------------------------------------------*/
#panelh1 {
    direction: rtl;
}

hr {
    float: right;
    margin-right: 10px ;
    width: 250px;
    opacity: 0.4;
    border-bottom: none;
}

#table {
    direction: rtl !important;
    overflow-x: scroll;
}

#table td {
    font-size: small;
    color: #00695c;
}