{% extends "layout.html" %}

{% block title %}
    Blogggggs
{% endblock %}
{#----------------------------- JS -----------------------------------#}
{% block head_js %}

{% endblock head_js %}
{#----------------------------- Body -----------------------------------#}

{% block body %}
    <div id="autFav" class="row">
        <div class="col s12 card-panel lighten-2">
            <img src="static/img/autFavImg.png">
        </div>
    </div>

    <div id="posts" class="row">

    </div>



    <!--Downloaded libraries-->
    <script src="/static/js/home.js"></script>

{% endblock %}



