{% extends "layout.html" %}

{% block title %}
    SAY - blog
{% endblock %}
{#----------------------------- JS -----------------------------------#}
{% block head_js %}
    <script src="/static/js/lib/imageloader.js"></script>
    <script src="https://npmcdn.com/imagesloaded@4/imagesloaded.pkgd.js"></script>
    <!-- Latest compiled and minified CSS -->
{#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">#}

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>


{% endblock head_js %}
{#----------------------------- Body -----------------------------------#}

{% block body %}

    <div id="autFav" >
        <div class="card-panel">
            <img src="static/img/autFavImg.png">
        </div>
    </div>
    <h6>Posts</h6>
    <div id="posts"  class="grid">
        <div class="grid-sizer"></div>


    </div>


    <script src="/static/js/lib/jquery.js"></script>
    <script src="/static/js/lib/isotop.js"></script>
    <script src="/static/js/home.js"></script>
    <script src="/static/js/script.js"></script>


{% endblock %}


