<!DOCTYPE html>
<html lang="fa">
<head>
    <title>{% block title %}{% endblock %}</title>
    <!--          Meta Tags -->
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}">

    <!--          ViewPort -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--          Custom CSS-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <!--          Font-->
    <link rel="stylesheet" href="/static/font/WebFonts/css/fontiran.css" />
    <!--          Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--          Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/static/css/lib/materialize.min.css"  media="screen,projection"/>

    <script src="/static/js/lib/jquery.js"> </script>
    <script src="/static/js/lib/isotop.js"></script>
    <script type="text/javascript" src="/static/js/lib/materialize.min.js"></script>


    {% block headjs %}

    {% endblock headjs %}
</head>
    <body id="main" >
        <nav class="row centered white z-depth-0">
            <a  href="http://blog.say.company" class="brand-logo center">
                <img src="/static/img/whitelogo.png"><p>blog</p>
            </a>
        </nav>
            {% block body %}

            {% endblock %}


        <div class="section row center" id="footer">
            <a href="https://www.instagram.com/say.company/" ><img src="/static/img/footer/instagram.png"></a>
            <a href="https://www.linkedin.com/company/say-company/" ><img src="/static/img/footer/linkedin.png"></a>
            <a href="https://www.facebook.com/say.company/" ><img src="/static/img/footer/facebook.png"></a>
            <a href="" ><img src="/static/img/footer/telegram.png"></a>

        </div>
        {% block footerjs %}


        {% endblock footerjs %}

    </body>
</html>