<!DOCTYPE html>
<html lang="fa">
<head>
    <title>{% block title %}{% endblock %}</title>
    <!--          Meta Tags -->
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!--          ViewPort -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--          Custom CSS-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <!--          Font-->
    <link rel="stylesheet" href="/static/font/WebFonts/css/fontiran.css" />
    <!--          Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--          Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/static/css/lib/materialize.min.css"  media="screen,projection"/>


    {% block head_js %}

    {% endblock head_js %}
</head>
<body >
<div class="container">
    <nav>
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo"><img src="/static/img/whitelogo.png"></a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="{{ url_for('users') }}">کاربران</a></li>
                <li><a href="{{ url_for('mypost') }}">نگارش من</a></li>
                <li><a href="{{ url_for('panel') }}">داشبورد</a></li>
                <a href="{{ url_for('logout')}}" class="waves-effect waves-light btn"><i class="material-icons">power_settings_new</i></a>
            </ul>
        </div>
    </nav>
</div>

<div class="container">
    {% block body %}
    {% endblock %}
</div>





<script type="text/javascript" src="/static/js/lib/materialize.min.js"></script>

</body>
</html>