{% extends "panelLayout.html" %}

{% block title %}
    blog - panel
{% endblock %}


{% block body %}
    <div id="panel">
        <div>
            <h4 id="panelh1" >نوشته‌ها</h4>
                <hr>
                <table id="table" class="highlight centered">
                    <thead>
                    <tr >
                        <th>Post id</th>
                        <th>Favorite</th>
                        <th>Tittle</th>
                        <th>Author id</th>
                        <th>Author Name</th>
                        <th>Published</th>
                    </tr>
                    </thead>

                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>



    {% block footerjs %}
        <script src="/static/js/panel.js"></script>

    {% endblock footerjs %}


{% endblock %}

