{% extends "layout.html" %}

{% block title %}
{% endblock %}

{% block body %}

    <div class="container">
        <div class="container" style="height: 100px"></div>
        <h2 class="text-secondary"> Register to continue</h2>

        <form action="{{ url_for('register')}}" method="post">
            <div class="form-group">
{#                The for attribute of the <label> tag should be equal to the id attribute
                   of the related element to bind them together.#}
                <label for="usr">Name:</label>
                <input type="text" class="form-control" id="usr" placeholder="Enter name" name="name">
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="string" class="form-control" id="email" placeholder="Enter email" name="email">
            </div>
            <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" name="remember"> Remember me
                </label>
            </div>
            <button type="submit" class="btn btn-outline-primary">Submit</button>
        </form>

    </div>


{% endblock %}
